### User-specific stuff ###

# JetBrains
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# VS Code
.vscode/

# Spring Tool Suite plugin for VS Code
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# Sublime Text
*.sublime-project
*.sublime-workspace

# Logs
*.log

# archives
*.zip

# Kotlin and Gradle
.gradle
.kotlin
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
*.db

# Python
# Byte-compiled / optimized / DLL files
__pycache__/

.pytest_cache
.venv
.idea

# Installer logs
pip-log.txt

# Env file
.env
